version: '3.9'
services:
  db:
    image: postgres:16-alpine
    container_name: michicode-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: michicode
      POSTGRES_USER: michi
      POSTGRES_PASSWORD: michi123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  adminer:
    image: adminer:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  postgres_data: